Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# use folder or file if exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise route to index.php
RewriteRule . index.php
